package <<package>>;

<<imports>>
/**
 * <<description>>
 *
 * NOTE: You should not manually modify this class until you are sure 
 * that your data model is complete and satisfies your needs.
 *
 * @author XML2Code
 */
<<annotation>>
public<<class-abstract>>class <<class>> extends <<super>> {

	/* Generated Code - Begin */

	// ----------------------------------------------
	// Fields, References, Lists
	// ----------------------------------------------
<<fields>>
<<references>>
<<lists>>
	// ----------------------------------------------
	// Constructor
	// ----------------------------------------------
	
<<constructor>>
	// ----------------------------------------------
	// Getters and Setters
	// ----------------------------------------------
<<modifiers>>

	/* Generated Code - End */

}