
	/**
	 * @return the <<name>>
	 */
	public <<type>> <<getter>>() {
		return this.<<name>>;
	}
	
	/**
	 * @param <<name>>
	 */
	public void <<setter>>(<<type>> <<name>>) {
		this.<<name>> = <<name>>;
	}